/* body {
    background-color: #696969;
}   

h1 {
    color: azure;
    text-align: center;
    font-family: Arvo;
    font-size: 50px;
}
img {
    float: right;
    width: 140px;
}
p {
    color: white;
}
div {
    color: white;
} */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


:root {
  --lightblue: rgb(7, 105, 185);;
  --blue: rgb(5, 68, 104);
  --white: rgb(241, 237, 237);
}
*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    background: var(--white);
}

.wrapper .sidebar{
    background: var(--blue);
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
}
.wrapper .sidebar .profile{
  margin-bottom: 30px;
  text-align: center;
}

.wrapper .sidebar .profile img{
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
}

.wrapper .sidebar .profile h3{
  color:var(--white);
  margin: 10px 0 5px;
}

.wrapper .sidebar .profile p{
  color: rgb(206, 240, 253);
  font-size: 14px;
}
.wrapper .sidebar ul li a{
  display: block;
  padding: 13px 30px;
  border-bottom: 1px solid #10558d;
  color: var(--white);
  font-size: 16px;
  position: relative;
}

.wrapper .sidebar ul li a .icon{
  color: #dee4ec;
  width: 30px;
  display: inline-block;
}
.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active{
    color: #0c7db1;

    background:white;
    border-right: 2px solid var(--blue);
}

.wrapper .sidebar ul li a:hover .icon,
.wrapper .sidebar ul li a.active .icon{
    color: #0c7db1;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before{
    display: block;
}
.wrapper .section{
  width: calc(100% - 225px);
  margin-left: 225px;
  transition: all 0.5s ease;
}

.wrapper .section .top_navbar{
  background: var(--lightblue);
  height: 120px;
  display: flexbox;
  align-items: center;
  padding: 0 30px;

}

.wrapper .section .top_navbar .hideButton a{
  font-size: 28px;
  color: #f4fbff;
}

.wrapper .section .top_navbar .hideButton a:hover{
  color: #a2ecff;
}

.alerts{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}
.alert{
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
  width: 200px;
  border: 5px solid var(--lightblue);
  border-radius: 10px;
  margin: 10px;
  text-align: center;
}
.alertTitle{
  height: 35px;
  border-bottom: 3px solid var(--lightblue);
  padding: 5px;
  text-align: center;
}

.alertContent{
  height: 55px;
  padding: 5px;
  text-align: center;
}

body.active .wrapper .sidebar{
  left: -225px;
}

body.active .wrapper .section{
  margin-left: 0;
  width: 100%;
}

.map-responsive{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}

.map-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

.logo{
  margin-left: 65%;
  margin-top: -30px;
}
